{% extends 'base.html.twig' %}

{% block title %}My_quizz | Toute l'historique de mes questions
{% endblock %}

{% block body %}

	<style>
		@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400 &display=swap');

		body {
			margin: 0;
			background: #171717;
			color: #c4c4c4;
			font-family: 'Poppins', sans-serif;
			line-height: 1.5;
		}


		a {
			text-decoration: none;
			color: #fc5d5d;
		}

		.container-navbar {
			display: flex;
			justify-content: center;
		}

		.topnav {
			position: fixed;
			background-color: background: #171717;
			width: 60%;
			height: calc(30px * 2 + 1.3rem + 1px);
		}

		.topnav a {
			margin-right: 30px;
		}

		.links {
			margin-top: 30px;
			font-weight: bold;
			text-transform: uppercase;
		}

		a:hover {
			-webkit-transition: all 0.6s ease-in-out;
			color: #A7C7E7;
		}

		/* ------------------- */

		::-webkit-scrollbar {
			width: 7px;
		}

		::-webkit-scrollbar-track {
			background: #555;
		}

		::-webkit-scrollbar-thumb {
			background-color: #fc5d5d;
		}

		::-webkit-scrollbar-thumb:hover {
			background: #555;
		}

		/* -------------------- */

		.container-homepage {
			display: flex;
			justify-content: center;
		}

		.homepage {
			display: flex;
			justify-content: center;
			width: 50%;
			height: 70vh;
		}

		.infos {
			padding: 20px;
			width: 400px;
			height: 32%;
			background: #fc5d5d;
			margin-top: 30%;
			border-radius: 5px;
			transition: ease 0.3s;
		}

		.infos:hover {
			transform: translateY(9px);
		}

		form {
			display: flex;
			flex-direction: column;
		}

		input {
			border: none;
			outline: none;
			height: 30px;
			border-radius: 10px;
			padding: 5px;
		}

		label {
			color: white;
		}

		.title {
			text-align: center;
			color: white;
		}

		.button-design {
			border: none;
			border-radius: 10px;
			background-color: white;
			width: 200px;
			padding: 5px;
			color: #fc5d5d;
			font-weight: bold;
		}

		button {
			cursor: pointer;
		}

		.container-design {
			display: flex;
			justify-content: center;
		}

		.mon-form-row {
			display: flex;
			flex-direction: column;
			width: 386px;
		}

		.title {
			text-align: center;
			color: white;
		}

		.container-a-links {
			display: flex;
			justify-content: center;
			font-weight: bold;

		}

		.line {
			padding: 3px;
		}
	</style>

	<div class="wrapper">
		<div class="container-navbar">
			<div class="topnav">
				<div class="links">
					<a href="/index">Index</a>

					{% if app.user %}
						Bonjour,
						{{ app.user.firstname }}

						<a href="{{ path('app_logout') }}" class="test">
							Se déconnecter</a>
					{% endif %}
				</div>
			</div>
		</div>

		<div class="container-homepage">
			<div class="homepage">
				<div class="infos">

					<h1 class="title">Modifier votre question</h1>

					{{ form_start(form) }}

					{{ form_row(form.name, { 'label': 'Votre question : ', 'attr': {'placeholder': 'Exemple : Où se trouve Paris ?', 'class': 'mon-form-row'}}) }}
					<br/>
					{# le submit qui envoie la requête : #}
					<div class="container-design">
						<button type="submit" class="button-design">Modifier</button>
					</div>

					{{ form_end(form) }}

					<br/>

					<div class="container-a-links">
						<div class="line">
							<a href="{{ path('app_question') }}" class="links-a">Retour à l'historique ↩</a>
						</div>
						<div class="line">
							<a href="{{ path('account_user') }}" class="links-a">Retour à mon compte ↩</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
