{% extends 'base.html.twig' %}

{% block title %}My_quizz | Toute l'historique de mes questions
{% endblock %}

{% block body %}

	<style>
		@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400 &display=swap');

		body {
			margin: 0;
			background: #171717;
			color: #c4c4c4;
			font-family: 'Poppins', sans-serif;
			line-height: 1.5;
		}

		a {
			text-decoration: none;
			color: #fc5d5d;
		}

		.container-navbar {
			display: flex;
			justify-content: center;

		}

		.topnav {
			position: fixed;
			width: 60%;
			height: calc(30px * 2 + 1.3rem + 1px);
		}

		.topnav a {
			margin-right: 30px;
		}

		.links {
			margin-top: 30px;
			font-weight: bold;
			text-transform: uppercase;
		}

		a:hover {
			-webkit-transition: all 0.6s ease-in-out;
			color: #A7C7E7;
		}

		/* ----------------------- */

		.container-describe {
			display: flex;
			justify-content: center;
		}

		.homepage-describe {
			position: relative;
			background-color: #202020;
			width: 60%;
			height: 200vh;
		}

		.infos-set {
			display: flex;
			flex-direction: column;
			position: relative;
			width: 500px;
			-webkit-display: flex;
			background-color: #171717;
			border-radius: 10px;
			padding: 20px;
			text-align: justify;
			transition: ease 0.3s;
		}

		.infos-set:hover {
			transform: translateY(9px);
		}

		.line {
			padding: 50px;
		}

		/* ----------------------- */

		.container-homepage {
			display: flex;
			justify-content: center;
		}

		.homepage {
			background-color: #171717;
			width: 60%;
			height: 30vh;
		}

		.infos {
			margin-top: 30%;
		}

		::-webkit-scrollbar {
			width: 7px;
		}

		::-webkit-scrollbar-track {
			background: #555;
		}

		::-webkit-scrollbar-thumb {
			background-color: #fc5d5d;
		}

		::-webkit-scrollbar-thumb:hover {
			background: #555;
		}

		.lists-questions {
			text-align: justify;
		}

		.button-design {
			border: none;
			border-radius: 10px;
			background-color: white;
			width: 500px;
			font-size: 20px;
			padding: 5px;
			color: #fc5d5d;
			background: #e3dac9;
			font-weight: bold;
		}

		.container-design {
			display: flex;
			justify-content: center;
		}

		.button-design-delete {
			border: none;
			border-radius: 10px;
			background-color: white;
			width: 200px;
			font-size: 15px;
			padding: 5px;
			color: #fc5d5d;
			background: #e3dac9;
			font-weight: bold;
		}

		.links-a {
			font-weight: bold;
		}

		button {
			cursor: pointer;
		}

		/* -------------------- */

		.container-describe {
			display: flex;
			justify-content: center;
		}

		.homepage-describe {
			position: relative;
			background-color: #202020;
			width: 60%;
			height: 200vh;
		}

		.infos-set {
			display: flex;
			justify-content: center;
			flex-direction: column;
			position: relative;
			width: 95%;
			-webkit-display: flex;
			background-color: #171717;
			border-radius: 10px;
			padding: 20px;
			text-align: justify;
			transition: ease 0.3s;
		}

		.infos-set:hover {
			transform: translateY(9px);
		}

		.line {
			padding: 50px;
		}

		/* ----------------------- */

		.container-homepage {
			display: flex;
			justify-content: center;
		}

		.homepage {
			background-color: #171717;
			width: 60%;
			height: 15vh;
		}

		.infos {
			margin-top: 30%;
		}

		::-webkit-scrollbar {
			width: 7px;
		}

		::-webkit-scrollbar-track {
			background: #555;
		}
		::-webkit-scrollbar-thumb {
			background-color: #fc5d5d;
		}

		::-webkit-scrollbar-thumb:hover {
			background: #555;
		}

		.lists-questions {
			text-align: justify;
		}

		.button-design {
			border: none;
			border-radius: 10px;
			background-color: white;
			width: 300px;
			font-size: 20px;
			padding: 5px;
			color: #fc5d5d;
			background: #e3dac9;
			font-weight: bold;
		}

		.title-categories {
			letter-spacing: 3px;
		}

		.title {
			letter-spacing: 3px;
			text-decoration: underline;
		}

		.test {
			text-align: center;
			font-size: 25px;
		}

		li {
			list-style-type: none;
		}

		label {
			padding-right: 10px;
		}

		.mon-form-row {
			border: 5px solid #fc5d5d;
			outline: none;
			border-radius: 20px;
			padding: 10px; 
		}
	</style>

	<div class="wrapper">
		<div class="container-navbar">
			<div class="topnav">
				<div class="links">
					<a href="/index">Index</a>

					{% if app.user %}
						Bonjour,
						{{ app.user.firstname }}

						<a href="{{ path('app_logout') }}" class="test">
							Se déconnecter</a>
					{% endif %}
				</div>
			</div>
		</div>

		<div class="container-homepage">
			<div class="homepage">
				<div class="infos"></div>
			</div>
		</div>

		<div class="container-describe">
			<div class="homepage-describe">
				<div class="line">
					<div class="infos-set">

						<div
							class="test">

							<h1 class="title">Ton quizz</h1>

							<!-- incrémenter la question -->
							{{ questions[questionIncrémenter].question }}
							{% for reponse in reponses %}

								<ul>
									<li>
										{{ reponse.reponse }}
									</li>
								</ul>
							{% endfor %}

							{{ form_start(formCategorie) }}

							{{ form_row(formCategorie.reponse, {
							'attr': {
								'placeholder': 'Insére ta réponse',
								'value': '', 'class': 'mon-form-row'
							}
							}) }}

							{{ form_end(formCategorie) }}

						</div>


					</div>
					<div class="container-a-links">
						<div class="line">
							<a href="{{ path('app_question') }}" class="links-a">Retour à l'historique ↩</a>
							<br/>
							<a href="{{ path('categories') }}" class="links-a">Retour aux catégories ↩</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
