{% extends 'base.html.twig' %}

{% block title %}My_quizz | Mon profil
{% endblock %}

{% block body %}
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400 &display=swap');

		body {
			margin: 0;
			background: #171717;
			color: #c4c4c4;
			font-family: 'Poppins', sans-serif;
			line-height: 1.5;
		}


		a {
			text-decoration: none;
			color: #fc5d5d;
		}

		.container-navbar {
			display: flex;
			justify-content: center;
		}

		.topnav {
			position: fixed;
			background-color: background: #171717;
			width: 60%;
			height: calc(30px * 2 + 1.3rem + 1px);
		}

		.topnav a {
			margin-right: 30px;
		}

		.links {
			margin-top: 30px;
			font-weight: bold;
			text-transform: uppercase;
		}

		a:hover {
			-webkit-transition: all 0.6s ease-in-out;
			color: #A7C7E7;
		}


		/* ------------------- */

		.container-describe {
			display: flex;
			justify-content: center;
		}

		.homepage-describe {
			background-color: #202020;
			width: 60%;
			height: 200vh;
		}

		/* ------------------- */

		.container-homepage {
			display: flex;
			justify-content: center;
		}

		.homepage {
			background-color: #171717;
			width: 60%;
			height: 20vh;
		}

		/* ------------------- */

		::-webkit-scrollbar {
			width: 7px;
		}

		::-webkit-scrollbar-track {
			background: #555;
		}

		::-webkit-scrollbar-thumb {
			background-color: #fc5d5d;
		}

		::-webkit-scrollbar-thumb:hover {
			background: #555;
		}

		/* -------------------- */

		.test {
			padding-left: 20px;
		}

		.line {
			display: flex;
			justify-content: center;
			padding: 20px;
		}

		.infos-set {
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;
			width: 95%;
			-webkit-display: flex;
			background-color: #171717;
			border-radius: 10px;
			padding: 20px;
			transition: ease 0.3s;
		}

		.infos-set:hover {
			transform: translateY(9px);
		}

		.text {
			text-align: center;
		}

		.links-a {
			font-weight: bold;
		}

		.button-design {
			border: none;
			border-radius: 10px;
			background-color: white;
			width: 500px;
			font-size: 20px;
			padding: 5px;
			color: #fc5d5d;
			background: #e3dac9;
			font-weight: bold;
		}
	</style>

	<div class="wrapper">
		<div class="container-navbar">
			<div class="topnav">
				<div class="links">
					<a href="/index">Index</a>

					{% if app.user %}
						Bonjour,
						{{ app.user.firstname }}

						<a href="{{ path('app_logout') }}" class="test">
							Se déconnecter</a>
					{% endif %}

				</div>
			</div>
		</div>


		<div class="container-homepage">
			<div class="homepage">
				<div class="infos"></div>
			</div>
		</div>

		<div class="container-describe">
			<div class="homepage-describe">
				<div class="line">
					<div class="infos-set">
						{% for user in users %}

							<img src="{{ asset('/assets/mon_bb.png')}}" alt="img-profil">

							<h1>Mon profil</h1>
							<p>
								<strong>Mon id :</strong>
								{{ user.id }}</p>
							<p>
								<strong>Mon prénom :</strong>
								{{ user.firstname }}</p>
							<p>
								<strong>Mon nom :</strong>
								{{ user.lastname }}</p>
							<p>
								<strong>Mon email :</strong>
								{{ user.email }}</p>
							<p>
								<strong>Mon mot de passe :</strong>
								{{ user.password }}</p>
							<p>
								<a href="{{ path('app_user_show', {'id': user.id}) }}" class="links-a">Voir mon compte utilisateur</a>
								•
								<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="links-a">Modifier mes informations personnelles</a>
							</p>

						{% else %}
							<p>
								<span>Aucun utilisateur trouvé</span>
							</p>
						{% endfor %}
						<div class="container-design">
							<button class="button-design">
								<a href="{{ path('app_user_new') }}" class="links-a">Créer un nouveau utilisateur</a>
							</button>
						</div>
						<br/>
						<a href="{{ path('account_user') }}" class="links-a">Retour à mon dashboard ↩</a>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
